<button (click)="findTeams()">Find Team</button>

<table class="table table-hover table-striped">
  <tr *ngFor = "let team of teams" (click) = "viewTeam(team)">
    <!-- <div class="team-details-container"> -->
      <td class="team-rank-view">Rank #{{team.ranking}}</td>
      <td class="team-details">
        <table class="table table-striped">
          <tr>
            <td rowspan="2"><b>{{team.teamName}}</b></td>
            <td><b>Format<br>{{team.format}}</b></td>
          </tr>
          <tr>
            <td><b>League<br>{{team.leagues}}</b></td>
          </tr>
        </table>
      </td>
    <!-- </div> -->
  </tr>
</table>
  