<form (ngSubmit)="update()" #addForm="ngForm">
    <table class="table table-hover"> 
        <thead><tr><th colspan="2">Update Team Details</th></tr></thead>
  
        <tr><td width="15%"><label for="teamName">Name</label></td>
          <td><input name="teamName" [(ngModel)]=team.teamName #teamName=ngModel required pattern="[A-Za-z ]{3,}" placeholder="Enter Team Name">
           <span *ngIf="teamName.touched && teamName.invalid && 
           (teamName.errors.required || teamName.errors.pattern)" class="alert-warning">
            Invalid Team name!
          </span>
      </td></tr>
  
  
    <tr><td><label for="ranking">Ranking</label></td>
      <td><input name="ranking" [(ngModel)]="team.ranking" #ranking=ngModel required pattern="[0-9]{1,2}" placeholder="Enter Team Ranking">
      <span *ngIf="ranking.touched && ranking.invalid && 
      (ranking.errors.required || ranking.errors.pattern)" class="alert-warning">
        Invalid ranking!
      </span>
    </td></tr>
  
    <tr><td><label for="format">Match Format</label></td>
      <td><select name="format" [(ngModel)]="team.format" #format=ngModel required  >
        <option *ngFor = " let format of matchFormats" value="format">{{format}}</option>
      </select>
    </td></tr>
  
    <tr><td width="15%"><label for="leagues">League</label></td>
      <td><input name="leagues" [(ngModel)]=team.leagues #leagues=ngModel required pattern="[A-Za-z ]{3,}" placeholder="Enter League Name">
       <span *ngIf="leagues.touched && leagues.invalid && 
       (leagues.errors.required || leagues.errors.pattern)" class="alert-warning">
        Invalid League Name!
      </span>
  </td></tr>
  
    
    <tr><th colspan="2"><button type="submit" [disabled]="!addForm.valid" class="btn btn-success">Update Player</button>
    </th></tr>
  </table>
  </form>

  <div [hidden]="!submitted">
  <table class="table table-bordered">
    <p>Updated Details</p>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Rankings</th>
        <th>Format</th>
        <th>Leagues</th>
      </tr>
      <tr>
        <td>{{team.teamId}}</td>
        <td>{{team.teamName}}</td>
        <td>{{team.ranking}}</td>
        <td>{{team.format}}</td>
        <td>{{team.leagues}}</td>
      </tr>

    </table>
  </div>    