<form>
    <div class="form group">
      <label>Enter Team Name</label><br>
      <input type="text" [(ngModel)]=teamName name="teamName"><br><br> 
    </div>
    <div class="form group">
      <button class="btn btn-primary" (click) = "findTeamByName()">Search</button>
    </div>

    <div class="form group">
        <label>Enter Team Id</label><br>
        <input type="number" [(ngModel)]=fetchId name="fetchId"><br><br> 
      </div>
      <div class="form group">
        <button class="btn btn-primary" (click) = "findTeamById()">Search</button>
      </div>
  </form>
  
  <div [hidden]="!submitted">
  <table class="table table-bordered">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Ranking</th>
      <th>Format</th>
      <th>League</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
    <tr
      *ngFor = "let team of teams; let i = index">
      <td>{{team.teamId}}</td>
      <td>{{team.teamName}}</td>
      <td>{{team.ranking}}</td>
      <td>{{team.format}}</td>
      <td>{{team.leagues}}</td>
      <td><button class="btn btn-primary" (click) = "updateTeam(team)">Update</button></td>
      <!-- <td><button class="btn btn-primary" (click) = "deleteTeam(i)">Delete</button></td> -->
    </tr>
  </table>
  </div>
