<form (ngSubmit)="findPlayerByName()">
        <div class="form group">
          <label>Enter Player Name</label><br>
          <input type="text" [(ngModel)]=pname name="pName"><br><br> 
        </div>
        <div class="form group">
          <button type="submit" class="btn btn-success" (click) = "findPlayerByName()">Search Player</button>
        </div>

        <div class="form group">
                <label>Enter Player Id</label><br>
                <input type="number" [(ngModel)]=id name="id"><br><br> 
        </div>
              <div class="form group">
                <button type="submit" class="btn btn-success" (click) = "findPlayerById()">Search Player</button>
        </div>
      </form>
      
      <div [hidden]="!submitted">
      <table class="table table-bordered">
        
        <tr>
          <th>Player Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>Nationality</th>
          <th>Rating</th>
          <th>Runs</th>
          <th>Wickets</th>
          <th>Role</th>
        </tr>
        <tr *ngFor = "let player of players">
          <td>{{player.playerId}}</td>
          <td>{{player.name}}</td>
          <td>{{player.age}}</td>
          <td>{{player.nationality}}</td>
          <td>{{player.rating}}</td>
          <td>{{player.runs}}</td>
          <td>{{player.wickets}}</td>
          <td>{{player.roleType}}</td>
        </tr>
        
      </table>
    </div>
        