<div class="container">

  <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
    <table class="table table-striped">
        <tr><th colspan="2">Reset Password</th></tr>
        
      <tr><td width="30%">User id: </td>
          <td><input type="text" name="userId" [(ngModel)]=userId #id=ngModel required pattern="[A-Za-z0-9]+" placeholder="Please Enter your user Id">
           <span *ngIf="id.touched && id.invalid && (id.errors.required || id.errors.pattern)" class="alert alert-warning">
            Invalid user Id or user Id cannot be empty!
          </span>
      </td></tr>

      <tr><td width="30%">Previous password: </td>
        <td><input type="password" name="previousPass" [(ngModel)]=previousPass #password=ngModel required placeholder="Please Enter your password">
         <span *ngIf="password.touched && password.invalid && (password.errors.required || password.errors.pattern)" class="alert alert-warning">
          Invalid password or password cannot be empty!
        </span>
      </td></tr>

      <tr><td width="30%">New password: </td>
        <td><input type="password" name="newPassword" [(ngModel)]=newPassword #password=ngModel required placeholder="Please Enter your password">
         <span *ngIf="password.touched && password.invalid && (password.errors.required || password.errors.pattern)" class="alert alert-warning">
          Invalid password or password cannot be empty!
        </span>
      </td></tr>

      <tr><td colspan="2" align="center">  
          <button type="submit" [disabled]="!resetForm.valid" class="btn btn-info">Change Password</button>
        </td></tr>

  </table>

</form>
</div>