<form (ngSubmit)="addBlog()" #addForm="ngForm">
  <div class="form-group">
    <label>Blog Type</label><br>
    <input type="text" [(ngModel)]=blog.blogType name="type" #type=ngModel required pattern="[A-Za-z ]{3,}" placeholder="Enter type">
    <span *ngIf="type.touched && type.invalid && 
    (type.errors.required || type.errors.pattern)" class="alert-warning">
     Invalid type or type cannot be empty!
   </span><br>
  </div>
  <div class="form-group">
    <label>Enter Blog Heading</label><br>
    <input type="text" [(ngModel)]=blog.blogHeading name="heading" #heading=ngModel required pattern="[A-Za-z ]{3,}" placeholder="Enter Heading">
    <span *ngIf="heading.touched && heading.invalid && 
    (heading.errors.required || heading.errors.pattern)" class="alert-warning">
     Invalid heading or heading cannot be empty!><br>
     </span>
  </div>
  <div class="form group">
    <label>Write Blog Content</label><br>
    <input type="text" [(ngModel)]=blog.blogContent name="content" #content=ngModel required pattern="[A-Za-z ]{3,}" placeholder="Enter Content">
    <span *ngIf="content.touched && content.invalid && 
    (content.errors.required || content.errors.pattern)" class="alert-warning">
     Invalid content or content cannot be empty!><br>
     </span>
  </div>
  <div class="form group">
    <br><br>
    <button type="submit" [disabled]="!addForm.valid" class="btn btn-success">Add Blog</button>
  </div>
</form>