
<div class="container">

  <form (ngSubmit)="forgotPassword()" #forgotPassForm="ngForm">
    <table class="table table-striped">

      <tr><td width="30%">user id: </td>
        <td><input type="text" name="userId" [(ngModel)]=userId #id=ngModel required placeholder="Please Enter your user Id">
         <span *ngIf="id.touched && id.invalid && (id.errors.required || id.errors.pattern)" class="alert alert-warning">
            Invalid user Id or user Id cannot be empty!
        </span>
      </td></tr>

      <tr><td width="30%">New password: </td>
        <td><input type="password" name="newPassword" [(ngModel)]=newPassword #password=ngModel required placeholder="Please Enter your new password">
         <span *ngIf="password.touched && password.invalid && (password.errors.required || password.errors.pattern)" class="alert alert-warning">
          Invalid password or password cannot be empty!
        </span>
      </td></tr>
                
      <tr><td width="30%">Favorite food: </td>
          <td><input type="text" name="userFavFood" [(ngModel)]=userFavFood #favFood=ngModel required pattern="[A-Za-z ]+" placeholder="Please Enter your favorite food">
           <span *ngIf="favFood.touched && favFood.invalid && (favFood.errors.required || favFood.errors.pattern)" class="alert alert-warning">
            Invalid food name or food name cannot be empty!
          </span>
      </td></tr>

      <tr><td width="30%">Favorite Animal: </td>
        <td><input type="text" name="userFavAnimal" [(ngModel)]=userFavAnimal #favAnimal=ngModel required pattern="[A-Za-z ]+" placeholder="Please Enter your favorite Animal">
         <span *ngIf="favAnimal.touched && favAnimal.invalid && (favAnimal.errors.required || favAnimal.errors.pattern)" class="alert alert-warning">
            Invalid animal name or animal name cannot be empty!
        </span>
    </td></tr>

      <tr><td colspan="2" align="center">  
          <button type="submit" [disabled]="!forgotPassForm.valid" class="btn btn-info">Change Password</button>
        </td></tr>

  </table>

</form>
</div>

