<table class="table-hover">
    <tr *ngFor = "let match of matches_view; let i = index">
        <div class="archived-match" (click)="viewScoreCard(i)">
            <b>{{match.teamOne.teamName}}&nbsp; vs. {{match.teamTwo.teamName}}</b> <br>
            <b>{{match.matchScoreCard.teamOneScore}}/{{match.matchScoreCard.teamOneWickets}} &nbsp;-&nbsp; {{match.matchScoreCard.teamTwoScore}}/{{match.matchScoreCard.teamTwoWickets}}</b> <br>
            <span [hidden] = "match.matchStatus === CONCLUDED">
                <b>{{match.winningTeam.teamName}} won.</b>
            </span>
        </div>
    </tr>
</table>