<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="nav navbar-brand">Stadium Related Information</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink] = "['home']">Home </a></li>
      <li><a [routerLink] = "['add']">Add Stadium </a></li>
      <li><a [routerLink] = "['list']">List of all Stadiums </a></li>
      <li><a [routerLink] = "['searchById']">Stadium By ID</a></li>
      <li><a [routerLink] = "['listByCountry']">Stadiums of a Country</a></li>
      <li><a [routerLink] = "['listByName']">Stadium by Name</a></li>
      <li><a [routerLink] = "['update']">Update Stadium</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>