<form (ngSubmit)="addMatch()" #addForm="ngForm" >
    <table class="table table-hover">
        <tr>
            <h4>Match Details:</h4>
        </tr>
      <tr>
        <td><label for="matchSchedule">Match Schedule: </label></td>
        <td><input type="datetime-local" [(ngModel)]="match.matchSchedule" #matchSchedule=ngModel [max]="today" name="matchSchedule">
          <span *ngIf="matchSchedule.touched && matchSchedule.invalid && 
          matchSchedule.errors.required " class="alert-warning">
          matchSchedule cannot be empty!
        </span>
        </td>
      </tr>
      <tr>
        <td><label for="matchFormat">Match Format: </label></td>
        <td><select [(ngModel)]= match.matchFormat name="matchFormat" #matchFormat=ngModel required >
            <option *ngFor="let format of matchFormats" [value]="format" >{{format}}</option>
            
            <span *ngIf="matchFormat.touched && matchFormat.invalid && 
          matchFormat.errors.required " class="alert-warning">
          matchFormat cannot be empty!
        </span>
      </select>
        </td>
      </tr>
      <tr>
        <td><label for="teamOne">Team One: </label></td>
        <td><select id="teamOneSelect" [(ngModel)]= teamOneIndex name="teamOne" #teamOne=ngModel >
            <option *ngFor="let one of teams_one_view; let i = index" [value]="i" >{{one.teamName}}</option>
            <span *ngIf="teamOne.touched && teamOne.invalid && 
          teamOne.errors.required " class="alert-warning">
          teamOne cannot be empty!
        </span>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="teamTwo">Team Two: </label></td>
        <td><select id="teamTwoSelect" [(ngModel)]= teamTwoIndex name="teamTwo" #teamTwo=ngModel >
            <option *ngFor="let two of teams_two_view; let i = index" [value]="i" >{{two.teamName}}</option>
            <span *ngIf="teamTwo.touched && teamTwo.invalid && 
          teamTwo.errors.required " class="alert-warning">
          teamTwo cannot be empty!
        </span>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="matchStatus">Match Status: </label></td>
        <td><select id="matchStatus" [(ngModel)]= match.matchStatus name="matchStatus" #matchStatus=ngModel >
          <option value="null" disabled selected >--SELECT--</option>  
          <option *ngFor="let status of matchStatuses" [value]="status" >{{status}}</option>
            </select>
            <span *ngIf="matchStatus.touched && matchStatus.invalid && 
          matchStatus.errors.required " class="alert-warning">
          matchStatus cannot be empty!
        </span>
        </td>
      </tr>
      <tr>
          <td><label for="matchVenue">Match Venue: </label></td>
          <td><select [(ngModel)]= stadiumIndex name="matchVenue" #matchVenue=ngModel >
            <option *ngFor="let one of stadiums; let i = index" [value]="i" >{{one.stadiumName}}</option>
            <span *ngIf="matchVenue.touched && matchVenue.invalid && 
          matchVenue.errors.required " class="alert-warning">
          matchVenue cannot be empty!
        </span>
          </select>
        </td>
        </tr>
        
        <tr>
          <td><label for="matchLeague">Match League: </label></td>
          <td><input type="text" [(ngModel)]= match.matchLeague name="matchLeague" #matchLeague=ngModel required>
            <span *ngIf="matchLeague.touched && matchLeague.invalid && 
            matchLeague.errors.required " class="alert-warning">
            matchLeague cannot be empty!
          </span>
          </td>
        </tr>
        <tr [hidden] = "isMatchCancelled">
            <td><label for="winningTeam">Winner: </label></td>
            <td><select [(ngModel)]= winningTeamIndex name="winningTeam" #winningTeam=ngModel >
                <option *ngFor="let two of winnings_team_view; let i = index" [value]="i" >{{two.teamName}}</option>
                <span *ngIf="winningTeam.touched && winningTeam.invalid && 
                winningTeam.errors.required " class="alert-warning">
              teamTwo cannot be empty!
            </span>
              </select>
            </td>
        </tr>

    </table>
    <table class="table table-hover" [hidden]="isMatchCancelled">
        <tr>
            <h4>Scorecard Details:</h4>
        </tr>

        <tr>
            <td><label for="teamOneScore">Team One Score: </label></td>
                <td><input type="text" [(ngModel)]= match.matchScoreCard.teamOneScore name="teamOneScore" #teamOneScore=ngModel required>
                  <span *ngIf="teamOneScore.touched && teamOneScore.invalid && 
                  teamOneScore.errors.required " class="alert-warning">
                  matchLeague cannot be empty!
                </span>
            </td>
        </tr>

        <tr>
            <td><label for="teamOneOvers">Team One Overs: </label></td>
                <td><input type="text" [(ngModel)]= match.matchScoreCard.teamOneOvers name="teamOneOvers" #teamOneOvers=ngModel required>
                    <span *ngIf="teamOneOvers.touched && teamOneOvers.invalid && 
                    teamOneOvers.errors.required " class="alert-warning">
                    matchLeague cannot be empty!
                </span>
            </td>
        </tr>

        <tr>
                <td><label for="teamOneWickets">Team One Wickets: </label></td>
                    <td><input type="text" [(ngModel)]= match.matchScoreCard.teamOneWickets name="teamOneWickets" #teamOneWickets=ngModel required>
                        <span *ngIf="teamOneWickets.touched && teamOneWickets.invalid && 
                        teamOneWickets.errors.required " class="alert-warning">
                        matchLeague cannot be empty!
                    </span>
                </td>
        </tr>

        <tr>
                <td><label for="teamTwoScore">Team Two Score: </label></td>
                    <td><input type="text" [(ngModel)]= match.matchScoreCard.teamTwoScore name="teamTwoScore" #teamTwoScore=ngModel required>
                      <span *ngIf="teamTwoScore.touched && teamTwoScore.invalid && 
                      teamTwoScore.errors.required " class="alert-warning">
                      matchLeague cannot be empty!
                    </span>
                </td>
        </tr>

        <tr>
                <td><label for="teamTwoOvers">Team Two Overs: </label></td>
                    <td><input type="text" [(ngModel)]= match.matchScoreCard.teamTwoOvers name="teamTwoOvers" #teamTwoOvers=ngModel required>
                        <span *ngIf="teamTwoOvers.touched && teamTwoOvers.invalid && 
                        teamTwoOvers.errors.required " class="alert-warning">
                        matchLeague cannot be empty!
                    </span>
                </td>
            </tr>
    
            <tr>
                    <td><label for="teamTwoWickets">Team Two Wickets: </label></td>
                        <td><input type="text" [(ngModel)]= match.matchScoreCard.teamTwoWickets name="teamTwoWickets" #teamTwoWickets=ngModel required>
                            <span *ngIf="teamTwoWickets.touched && teamTwoWickets.invalid && 
                            teamTwoWickets.errors.required " class="alert-warning">
                            matchLeague cannot be empty!
                        </span>
                    </td>
            </tr>

            <tr>
                    <td><label for="playerOfTheMatch">Man of the Match: </label></td>
                    <td><select [(ngModel)]= playerOfTheMatchIndex name="playerOfTheMatch" #playerOfTheMatch=ngModel >
                        <option *ngFor="let player of players_view; let i = index" [value]="i" >{{player.name}}</option>
                        <span *ngIf="playerOfTheMatch.touched && playerOfTheMatch.invalid && 
                        playerOfTheMatch.errors.required " class="alert-warning">
                      teamTwo cannot be empty!
                    </span>
                      </select>
                    </td>
            </tr>
  
    </table>
    
    <tr>
        <td colspan="2"><button type="submit" [disabled]="!addForm.valid" class="btn btn-success">Submit</button></td>
      </tr>
  </form>
  